.env
 
data/
*.csv
*.parquet
 
logs/
 
__pycache__/
*.pyc
*.pyo
.venv/
venv/
 
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
dbt_project/.user.yml

.DS_Store
Thumbs.db

init-db.sql

.gitkeep
profiles.yml
*Zone.Identifier